<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @product_segment.title %>
</p>

<%= link_to 'Edit', edit_control_panel_product_segment_path(@product_segment) %> |
<%= link_to 'Back', control_panel_product_segments_path %>
