<!DOCTYPE html>
<html>
<head>
  <title>Aishwarya</title>
  <%= stylesheet_link_tag    "Aishwarya/all", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "Aishwarya/all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
This is Aishwarya

</body>
</html>
