<!DOCTYPE html>
<html>
<head>
  <title>Landing</title>
  <%= stylesheet_link_tag    "Landing/all", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "Landing/all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
This is Landing

</body>
</html>
