<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
  <%= stylesheet_link_tag    "Dashboard/all", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "Dashboard/all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
This is Dashboard

</body>
</html>
