<h1>Editing Community Product</h1>

<%= render 'form', community_product: @community_product %>

<%= link_to 'Show', control_panel_community_product_path %> |
<%= link_to 'Back', control_panel_community_products_path %>
