<h1>Editing Community Product Property</h1>

<%= render 'form', community_product_property: @community_product_property %>

<%= link_to 'Show', @community_product_property %> |
<%= link_to 'Back', community_product_properties_path %>
